.courserDetails {
    p {
        font-size: 13px;
    }

    &__title {
        background-color: #ffd60a;
        color: #fff;
        text-transform: uppercase;
        padding: 50px;

        h3 {
            font-size: 35px;
        }
    }
}