.category {
    p {
        font-size: 13px;
    }

    .category__title {
        background-color: #ffd60a;
        color: #fff;
        text-transform: uppercase;
        padding: 50px;

        h3 {
            font-size: 35px;

            @media screen and (max-width: 576px) {
                font-size: 25px !important;
            }
        }
    }
}