.ShowDetails {
  background-color: pink;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  width: 280px;
  word-wrap: break-word;
  padding: 15px;
  border-radius: 5px;
  min-height: 390px;

  h6 {
    font-size: 15px;
    padding: 10px 0 10px 0;
  }

  .card__header {
    display: inline-block;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      vertical-align: middle;
    }

    .card__title {
      color: gray;
    }
  }

  .cardContent {
    color: gray;

    p {
      font-size: 17px;
    }
  }

  .card__footer {
    padding-top: 10px;

    button {
      background-color: #41b294;
      color: #fff;
      padding: 10px 90px;
      border: none;
      cursor: pointer;

      &:hover {
        transform: scale(0.97);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .ShowDetails {
    width: 250px;

    .cardContent {
      p {
        font-size: 16px;
      }
    }

    .card__footer {

      button {
        padding: 10px 70px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ShowDetails {
    width: 285px;

    .cardContent {
      p {
        font-size: 17px;
      }
    }

    .card__footer {

      button {
        padding: 5px 100px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .ShowDetails {
    width: 240px;

    .cardContent {
      p {
        font-size: 15px;
      }
    }

    .card__footer {

      button {
        padding: 10px 50px 10px 75px;
        font-size: 15px;
      }
    }
  }
}