.ShowDetails {
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

    .card__header {
        padding: 15px 0;
    }
}