.ShowDetails {
  background-color: rgb(246, 186, 53);
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  width: 100%;
  word-wrap: break-word;
  padding: 15px;
  border-radius: 5px;
  min-height: 390px;

  h6 {
    font-size: 15px;
    padding: 10px 0 10px 0;
  }

  .card__header {
    display: inline-block;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      vertical-align: middle;
    }

    .card__title {
      color: gray;
    }
  }

  .cardContent {
    color: gray;

    p {
      font-size: 17px;
    }
  }

  .card__footer {
    padding-top: 10px;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .ShowDetails {
    .cardContent {
      p {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ShowDetails {
    .cardContent {
      p {
        font-size: 17px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .ShowDetails {
    .cardContent {
      p {
        font-size: 15px;
      }
    }
  }
}
