.container {
  margin: 0 -50px;

  h4 {
    padding: 8px 200px;
    color: rgb(26, 25, 25);
    font-style: italic;
  }

  .title {
    height: 200px;
    padding: 50px;
    color: white;
    background-color: #ffd60a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      font-size: 14px;
    }
  }
}
