.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;

  .left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }

    .formContainer {
      border: 1px solid transparent;
      padding: 4px;
      border-radius: 4px;
      height: 38px;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(236, 236, 236);

      input {
        outline: none;
        border: none;
        font-size: 18px;
        background-color: rgb(236, 236, 236);
      }
    }
  }

  .between {
    flex: 1;
    .options {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 60%;
      margin: auto;
      list-style: none;
      font-size: 15px;
      font-weight: bold;

      .firstOfList {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          height: 12px;
          width: 100%;
          background-color: transparent;
        }

        i {
          margin-right: 5px;
        }

        .listingOfFistOption {
          position: absolute;
          border-radius: 4px;
          top: calc(100% + 12px);
          left: 0;
          background: rgba(1, 135, 126, 0.5);
          padding: 0 20px;
          width: 225px;
          line-height: 40px;
          transition: opacity 0.5s;
          opacity: 0;
          height: 0;
          overflow: hidden;

          a {
            color: #000;
            transition: all 0.3s;
            &:hover {
              color: #fff;
            }
          }
        }

        &:hover .listingOfFistOption {
          height: auto;
          opacity: 1;
        }
      }

      .listItem {
        a {
          transition: all 0.3s;

          &:hover {
            color: #41b294;
          }
        }
      }
    }
  }
}
