.container {
  @media screen and (max-width: 992px) {
    display: block;
    position: relative;
  }
  .left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    .arrowCloud {
      position: absolute;
      top: 10%;
      right: 22%;
    }

    h1 {
      font-size: 46px;
      line-height: 56px;

      &:last-of-type {
        color: #41b294;
      }
    }

    @media screen and (max-width: 992px) {
      align-items: unset;
      width: 100% !important;
      height: auto;

      .arrowCloud {
        position: absolute;
        top: 40%;
        right: 30%;
      }
    }
  }

  .right {
    @media screen and (max-width: 992px) {
      width: 100% !important;
    }
    .deskMate {
      position: relative;

      .rela {
        width: 100%;
      }
      .abs1 {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 15%;
        right: 85%;
        animation-name: cloudy1;
        animation-duration: 8s;
        animation-iteration-count: infinite;
      }
      .abs2 {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 30%;
        right: 60%;
        animation-name: cloudy2;
        animation-timing-function: linear;
        animation-duration: 6s;
        animation-iteration-count: infinite;
      }
      .abs3 {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 42%;
        right: 45%;
        animation-name: message;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        transform: rotate(-30deg);
      }
      .abs4 {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50%;
        right: 66%;
        animation-name: code;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        transform: translateY(0px);
      }

      @media screen and (max-width: 768px) {
        .abs3,
        .abs4 {
          display: none;
        }
      }
    }
  }
}

@keyframes cloudy1 {
  from {
    right: 85%;
  }
  to {
    right: 55%;
    opacity: 0;
  }
}

@keyframes cloudy2 {
  from {
    right: 60%;
  }
  to {
    right: 40%;
    opacity: 0;
  }
}

@keyframes message {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(+30deg);
  }
}

@keyframes code {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
