.container {
  background-image: url("../../../public//image/poster.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 150px 0;
  margin: 0 -50px;

  .content {
    text-align: center;
    line-height: 50px;
    h2 {
      color: #41b294;
    }
    h1 {
      color: #f6ba35;
      font-size: 40px;
    }
    h3 {
      color: #fff;
    }
  }
}
