.footer {
  background-color: #f0f8ff;
  padding: 24px 50px;
  line-height: 40px;

  ul {
    list-style: none;
    color: #000;
  }

  .icon {
    & a,
    & i {
      transform: translateY(0);
      transition: all 0.5s;
      display: inline-block;
    }

    &:hover a,
    &:hover i {
      transform: translateY(-3px);
      color: #41b294;
    }
  }

  .container {
    .cardTitle {
      display: flex;

      .left {
        .name {
          .titleOne {
            color: #41b294;
            text-shadow: 5px -2px 3px #54d2c0;
            font-size: 46px;
            margin-right: 10px;
            font-weight: bold;
            display: inline-block;
            transition: all 0.5s;
          }
          .titleTwo {
            color: #000;
            text-shadow: 5px -2px 3px #54d2c0;
            font-size: 24px;
            font-weight: bold;
            display: inline-block;
            transition: all 0.5s;
          }

          &:hover .titleOne,
          &:hover .titleTwo {
            transform: scale(1.1);
          }
        }

        .listStyleIcon {
          font-weight: bold;

          i {
            border-radius: 50%;
            background-color: #41b294;
            color: #fff;
            margin-right: 15px;
            padding: 8px;
            font-size: 14px;
          }

          .iconLeft {
            transition: 0.3s;
            transform: translateY(0);
            &:hover {
              color: #41b294;
              transform: translateY(-3px);
            }
          }
        }

        @media screen and (max-width: 768px) {
          width: 100% !important;
        }
      }

      .middle {
        display: flex;
        justify-content: space-between;
        font-weight: bold;

        ul li i {
          margin-right: 5px;
        }

        @media screen and (max-width: 768px) {
          width: 100% !important;
        }
      }

      .right {
        .styleForm {
          display: flex;
          flex-direction: column;

          input {
            width: 70%;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 8px;
            border: 2px solid #41b294;

            @media screen and (max-width: 768px) {
              & {
                width: auto;
              }
            }
          }
        }
        @media screen and (max-width: 768px) {
          width: 100% !important;
        }
      }
    }

    hr {
      margin: 20px 0;
      color: darkgray;
    }

    .contact {
      display: flex;
      justify-content: space-evenly;

      .contactIcon {
        i {
          border-radius: 50%;
          padding: 10px;
          background-color: #41b294;
          color: white;
          margin-right: 10px;
          transition: all 0.5s;

          &:hover {
            box-shadow: 1px 2px 2px 1px #636363;
          }
        }
      }
    }
  }

  .backToTop {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 100;
  }
}
