.ratingItem {
  background-color: #fff;
  text-align: center;
  line-height: 28px;
  padding: 20px;
  transition: all 0.5s;

  &:hover {
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .circleImg {
    border-radius: 50%;
    object-fit: cover;
  }

  .icon {
    color: #f6ba35;
    font-weight: bold;
  }

  p:last-of-type {
    color: darkgray;
    font-size: 14px;
    font-weight: 500;
  }
}
