.container {
  padding: 50px 0;

  .left {
    line-height: 40px;
    h2 {
      color: #41b294;
    }

    h1 {
      font-size: 40px;
      margin: 20px 0;
    }

    .letter::first-letter {
      line-height: 40px;
      color: #cd5c5c;
      float: left;
      padding-top: 20px;
      padding-right: 5px;
      font-size: calc(60px + 0.75vw);
    }
    .clear {
      clear: both;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 380px;
    }
  }
}
