.container {
  padding: 50px 0;

  .left {
    line-height: 40px;
    h2 {
      color: #41b294;
    }

    h1 {
      font-size: 40px;
      margin: 20px 0;
    }

    p {
      color: #8c8c8c;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 380px;
    }
  }
}
