.showResult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;

  .info {
    display: flex;
    align-items: center;

    .poster {
      width: 250px;
      height: 200px;
      margin-right: 20px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .content {
      line-height: 30px;
      p {
        color: #8c8c8c;
      }
      .icon {
        color: #ffd60a;
      }

      .author {
        display: flex;
        align-items: center;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding: 10px;
    .info {
      width: 70%;
    }
  }
}
