body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}

.col {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%!important;
}

.col-4 {
  width: calc(100% / 3);
}

.gutter {
  margin: 0 -20px;
}

.colter {
  padding: 0 20px;
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

/* @media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
} */

@media screen and (max-width: 992px) {
  .col-4 {
    width: calc(100%/3) !important;
  }
  
  .col-6-md {
    width: 50%!important;
  }
}
@media screen and (max-width: 768px) {
  .col-6 {
    width: 50% !important;
  }
}
@media screen and (max-width: 576px) {
  .col {
    width: 100% !important;
  }
}

