.container {
  p {
    margin: 30px 0;

    a {
      color: #f6ba35;
      font-weight: bold;
    }
  }

  // @media screen and (max-width: 768px) {
  //   .items {
  //     width: 100%;
  //   }
  // }
}
